<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
    <div>
        你好，这里是我的主页
        <div>我的名字</div>
        <span>我的性别：</span> <span>男</span>
    </div>
    <span>山东蓝翔</span>
    <span>挖掘机技术哪家强</span>
    <div>
    <a href="https://www.bilibili.com/">点击跳转</a>
        <a href="/get/news">更多信息</a>
    </div>

    <div>
        我的照片
        <div>截图</div>
        <img src="https://pica.zhimg.com/80/v2-e42c746a68df16d0da0b2f9b10b1f1ec_1440w.webp?source=2c26e567" />

    </div>

    <h1>信息列表</h1>
    <ul>
        <li>我的年龄</li>
        <li>我的性别</li>
        <li>我的学历</li>
    </ul>
    <br/>
    <h1>信息列表</h1>
    <ol>
        <li>我的年龄</li>
        <li>我的性别</li>
        <li>我的学历</li>
    </ol>

    <h1>信息表格</h1>
    <table border="1">
        <thead>
            <tr> <th>ID</th> <th>姓名</th> <th>年龄</th> </tr>
        </thead>
        <tbody>
            <tr> <td>8</td> <td>周翔</td> <td>24</td> </tr>
            <tr> <td>9</td> <td>熊大</td> <td>24</td> </tr>
            <tr> <td>10</td> <td>熊二</td> <td>24</td> </tr>
            <tr> <td>11</td> <td>光头强</td> <td>24</td> </tr>
            <tr> <td>12</td> <td>翠花</td> <td>24</td> </tr>
        </tbody>
    </table>
<h1>用户输入</h1>
<input type="text">
<input type="password">
<input type="file">

<input type="radio" name="n1">男
<input type="radio" name="n1">女

<input type="checkbox">篮球
<input type="checkbox">羽毛球
<input type="checkbox">乒乓球
<input type="checkbox">足球

<input type="button" value="提交">
<input type="submit" value="提交">

<h1>下拉框</h1>
<select>
    <option>北京</option>
    <option>上海</option>
    <option>深圳</option>
</select>

<select multiple>
    <option>北京</option>
    <option>上海</option>
    <option>深圳</option>
</select>

<h1>多行文本</h1>
<textarea rows="5"></textarea>
</body>
</html>