<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .menus{
        width: 200px;
        height: 100px;
        border: 1px solid red;
    }

    .menus .header{
        background-color: yellow;
        padding: 20px 50px;
    }
</style>
<body>
    <div class="menus">
        <div class="header" onclick="myFunc()">标题</div>
        <div class="item">内容</div>
    </div>

 <script type="text/javascript">
     // type="text/javascript" 用于指定 <script> 标签中的内容类型为 JavaScript。
     // 它的作用是告诉浏览器该脚本是 JavaScript 代码，以便正确解析和执行。
     // 在现代 HTML5 中，type="text/javascript" 可以省略，因为 JavaScript 是 <script> 标签的默认类型。
     function myFunc(){
         //alert("你好呀！");
         confirm("是否要继续？");
     }
 </script>
</body>
</html>